<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- htmlがごちゃごちゃさせないように、分けられるものは分ける -->
    <!-- 下では app/views/layouts/_shim.html.erb が呼ばれる -->
    <!-- 内容: IEだとcssの都合上あれだから別のやつ持ってきます -->
    <%= render 'layouts/shim' %>


  </head>
  <body>
    <!-- app/views/layouts/_header.html.erb -->
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <!-- <div class="alert alert-<%= message_type %>"><%= message %></div>  -->
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <!-- app/views/layouts/_footer.html.erb -->
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
